h1 {
    font-family:verdana;
    border: solid 4px black;
}

h2 {
    font-family:georgia;
    font-size:30px;
}

h3 {
    font-size:35px;
}

body{
    background-color: lavender;
}
img.src{
    border: solid 4px black;
}